@import 'global.sass'

//- Status Badge
.status-badge
  position: relative
  display: inline-block
  flex-shrink: 0
  background-color: $available
  color: white
  width: 12px
  height: 12px
  box-sizing: content-box
  padding: 5px
  &:before
    position: absolute
    left: center
    top: center
    font-size: 12px
    line-height: 12px
    font-weight: 400
  &.available
    background-color: $available
    &:before
      content: '가'
  &.complete
    background-color: $complete
    &:before
      content: '완'
  &.waiting
    background-color: $waiting
    &:before
      content: '대'
  &.callonly
    background: $callonly url('/assets/images/callonly.svg') center no-repeat
    background-size: 11px
  &.blocked
    background: $blocked url('/assets/images/blocked.svg') center no-repeat
    background-size: 13px


//- Topper --//
.pc-bp-topper
  @extend %display-flex
  align-items: center
  border-bottom: 1px solid $border-color
  .title
    margin: 0
    margin-right: auto
  .tab
    border-top: 3px solid white
    border-bottom: 3px solid white
    color: #4c4c4c
    font-size: 1.1rem
    padding: 1.5rem
    line-height: 1rem
    text-decoration: none
    &.active
      border-bottom: 3px solid #67ABFF
  .btn-primary
    background-color: #4275C4

//- Body --//
.calendar-controler
  margin-top: 3.5rem
  .year-month
    font-size: 2rem
    font-weight: 400
  .btn-white
    padding-bottom: .5rem
.status-model
  align-items: flex-end
  font-size: 0.85rem
  .status-badge
    padding: .15rem
    margin-left: 1.5rem
    margin-right: .3rem
    flex-shrink: 0
    &.callonly
      background-position: 3px 3px
    &.blocked
      background-position: 2px 2px

.table-calendar
  width: 100%
  min-width: 900px
  th, td
    padding: .8rem
    width: calc(100% / 7)
    vertical-align: top
  .dimed
      opacity: .4
  .today
    box-shadow: inset 0 0 0 1px #222222
    .room
      margin: 0 -.7rem
      padding: .25rem .7rem
  thead
    th
      text-align: center
      font-weight: 400
  tbody
    td.other-month
      background-color: $white-gray
    .day-header
      @extend %display-flex
      align-items: center
      margin-bottom: .5rem
      .season
        margin-left: auto
        color: $light
        font-size: .9rem
    .room
      @extend %display-flex
      align-items: center
      margin: 0 -.8rem
      padding: .25rem .8rem
      cursor: pointer
      .name
        padding: 0 5px
        line-height: 1rem
      .stock
        margin-left: auto
        font-size: .85rem
      &.dimed
        color: $light
    .price
      padding-left: 2rem
      margin-top: -.4rem

.table-calendar-small
  td
    padding: 1rem 0
    cursor: pointer
    width: calc(100% / 7)
    &.dimed
      background-color: $white-gray
      opacity: .5
    &.active
      box-shadow: inset 0 0 0 1px #222222

.table-room-select
  .room-info
    text-align: left
    .room-title
      white-space: nowrap
      *
        vertical-align: middle
      .name
        padding-left: .5rem
        white-space: nowrap
        text-overflow: ellipsis
    .size
      font-size: .85rem
      padding: .25rem 0 .25rem 1.7rem
    .capacity
      padding-left: 1.7rem
  .thumbnail
    width: 100%
    min-width: 100px
    max-width: 240px
  .number
    width: 21rem
    margin: 0 auto
  .status-badge
    padding: .15rem
    &.callonly
      background-position: 3px 3px
    &.blocked
      background-position: 2px 2px