.bp-footer.row.no-gutters
  .col-sm
    h6 결제대행사 정보
    b 대표
    span.ml-1 오현석
    b.ml-3 상호명
    span.ml-1 티포트 주식회사
    b.ml-3 사업자등록번호
    span.ml-1 332-87-00460
    br
    b 주소지
    span.ml-1 서울특별시 강남구 테헤란로 108길 12, 4층 (대치동, 하나빌딩)
    br
    b 개인정보관리책임자
    span.ml-1 김지호
    b.ml-3 통신판매업신고
    span.ml-1 제2017-서울강남-00315호
    br
    b 이메일
    span.ml-1 hello@zaricorp.com
  .col-sm
    h6 숙박업체 정보
    b 사업자명
    span.ml-1 모던달빛
    b.ml-3 주소지
    span.ml-1 전라북도 전주시 완산구 기린대로 114
    br
    b 대표
    span.ml-1 박모아
    b.ml-3 전화
    span.ml-1 063-284-6707
    br
    b 이메일
    span.ml-1 moderndalbit@naver.com
    b.ml-3 사업자등록번호
    span.ml-1 213-09-43568