.bp-footer.row.no-gutters
  .col-sm
    h6 결제대행사 정보
    .mr-3
      b 대표
      span 오현석
    .mr-3
      b 상호명
      span 티포트 주식회사
    .mr-3
      b 사업자등록번호
      span 332-87-00460
    .mr-3
      b 주소지
      span 서울특별시 강남구 테헤란로 501, 4층
    .mr-3
      b 통신판매업신고
      span 제2017-서울강남-00315호
    .mr-3
      b 이메일
      span hello@zaricorp.com
    .mr-3
      b 개인정보관리책임자
      span 김지호
  .col-sm.mt-4.mt-sm-0
    h6 숙박업체 정보
    .mr-3
      b 사업자명
      span 모던달빛
    .mr-3
      b 주소지
      span 전라북도 전주시 완산구 기린대로 114
    .mr-3
      b 대표
      span 박모아
    .mr-3
      b 전화
      span 063-284-6707
    .mr-3
      b 이메일
      span moderndalbit@naver.com
    .mr-3
      b 사업자등록번호
      span 213-09-43568