<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel='shortcut icon', type='image/png', href='/assets/images/favicon.png')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 실시간예약창 - 달력형

    //- scripts
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='/js/bp.js')

    //- styles
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css')
    link(rel='stylesheet', href='/css/custom.css')
    link(rel='stylesheet', href='/css/bp-calendar.css')