include ./includes/header.pug

body
  include ./includes/topper.pug

  .pc-body
    .py-5
    h4 객실선택
    table.table.table-room-select.align-middle.text-center.mt-3
      thead.bg-light
        tr
          th
          th.text-left 객실명
          th 기간
          th 인원설정
          th 금액
      tbody
        tr
          td
            img.img-fluid.thumbnail(src='/assets/images/sample/2A-01.jpg')
          td.room-info
            .room-title
              span.name.pl-0 사랑채 하늘방(패밀리스파)
            .size.text-muted.pl-0 16평
            .capacity.pl-0 기준 2명/최대 4명
          td
            | 2017-03-20(1박) - 비수기
          td
            | 성인 6명
            br
            | 아동 2명
          td
            | 120,000
            .small.text-muted 추가인원 +10,000

    .py-5
    h4 부가서비스 선택
    table.table.table-room-select.align-middle.text-center.mt-3
      thead.bg-light
        tr
          th 부가서비스명
          th 설명
          th 개당 가격
          th(style='width: 10rem') 수량
      tbody
        tr
          td.text-left.pl-4 조식
          td.text-left
            | 조식은 매일아침 계절반찬으로 한정식으로 정성들여 준비합니다.
          td 8,000
          td
            select.custom-select.inline
              option 0
              option 1
              option 2
              option 3
              option 4
              option 5
        tr
          td.text-left.pl-4 부가서비스2
          td.text-left
          td 5,000
          td
            select.custom-select.inline
              option 0
              option 1
              option 2
              option 3
              option 4
              option 5

    .py-5
    h4 예약자 정보
    hr.dark.mb-4
    .form-group.row
      label.label-necessary.col-2.pt-1 예약자명
      .col-10
        input.form-control(type='text', style='max-width: 20rem')
    .form-group.row
      label.label-necessary.col-2.pt-1 연락처
      .col-10
        input.form-control(type='text', style='max-width: 20rem', placeholder='‘-‘없이 입력해주세요')
    .form-group.row
      label.col-2.pt-1 도착예정시간
      .col-10
        select.custom-select(style='max-width: 20rem')
          option 선택해 주세요
          option 오후 12시
          option 오후 1시
          option 오후 2시
          option 오후 3시
          option 오후 4시
          option 오후 5시
          option 오후 6시
          option 오후 7시
          option 오후 8시
          option 오후 9시
          option 오후 10시
          option 오후 11시
          option 오전 12시
          option 오전 1시
          option 오전 2시
          option 오전 3시
          option 오전 4시
          option 오전 5시
          option 오전 6시
          option 오전 7시
          option 오전 8시
          option 오전 9시
          option 오전 10시
          option 오전 11시
    .form-group.row
      label.label-necessary.col-2.pt-1 요청사항
      .col-10
        textarea.form-control(rows='6')

    .py-5
    .row.no-gutters
      .col-6
        h4.mb-2 약관동의
      .col-6.text-right
        label.custom-control.custom-checkbox.custom-control-inline.mb-0
          input.custom-control-input(type='checkbox')
          span.custom-control-label 모두동의
    hr.dark.mb-1.mt-2
    .form-group.row.no-gutters.m-0.pt-3.pb-2.border-bottom
      label.col-10
        | 유의사항/환불규정
        small.ml-2.text-info (필수)
        small.ml-2(data-toggle='collapse', href='#agreement1')
          u 내용보기
      .col-2.text-right
        label.custom-control.custom-checkbox.custom-control-inline
          input.custom-control-input(type='checkbox')
          span.custom-control-label 동의
    #agreement1.collapse
      .card.bg-light.border-0
        .card-body
          p 유의사항/ 환불규정
          p(style='white-space: pre-wrap').
            - 보호자 없는 미성년자는 예약 및 입실이 불가합니다.
            - 예약시 신청하신 인원 외에 추가인원은 입실이 거부 될수 있습니다.
            - 인원 추가시 최대인원은 초과 할 수 없습니다. 최대인원 초과로 입실 거부시 환불은 되지 않습니다.
            - 무통장 입금시 예약자 성함으로 입금하여야 합니다. (입금 확인이 되지 않을 수도 있습니다.)
            - 취소/변경시 아래와 같이 취소수수료가 발생할수 있으므로 신중한 예약바랍니다.
          table.table.text-center(style='max-width: 500px')
            thead
              tr
                th 취소일기준
                th 환불금액
            tbody.bg-white
              tr
                td 당일 취소
                td 0%
              tr
                td 1일전 취소
                td 30%
              tr
                td 2일전 취소
                td 50%
              tr
                td 3일전 취소
                td 70%
              tr
                td 4일전 취소
                td 80%
              tr
                td 5일전 취소
                td 90%
              tr
                td 6일전 취소
                td 100%
              tr
                td 7일전 취소
                td 100%
              tr
                td 8일전 취소
                td 100%
              tr
                td 9일전 취소
                td 100%
              tr
                td 10일전 취소
                td 100%
          p
            | - 환불은 결제한 금액에서 취소수수료를 제한 금액으로 환불됩니다. (카드결제시에는 부분취소됩니다.)
    .form-group.row.no-gutters.m-0.pt-3.pb-2.border-bottom
      label.col-10
        | 개인정보 수집 및 이용동의
        small.ml-2.text-info (필수)
        small.ml-2(data-toggle='collapse', href='#agreement2')
          u 내용보기
      .col-2.text-right
        label.custom-control.custom-checkbox.custom-control-inline
          input.custom-control-input(type='checkbox')
          span.custom-control-label 동의
    #agreement2.collapse
      .card.bg-light.border-0
        .card-body
          p 개인정보 수집 및 이용동의
          p(style='white-space: pre-wrap').
            - 개인정보 이용목적 : 예약관련안내, 결제/취소내역 안내, 민원처리
            - 수집하는 개인정보항목 : 이름, 연락처, 생년월일, 예약 및 결제정보, 신용카드정보, 은행명, 입금자명, 접속 IP, 결제기록
            - 개인정보 보유 기간 : 개인정보 수집목적 달성 후 지체없이 파기 (단, 관계법령의 규정에 의해 보존할 필요가 있을 경우 관계법령에서 정한 기간 동안 보관
          ol.pl-3
            li 보존항목 : 접속로그, 결제기록
            li 보존근거 : 전자상거래 등에서의 소비자 보호에 관한 법률
            li 계약 또는 청약 철회 등에 관한 기록 : 5년
            li 대금결제 및 재화등의 공급에 관한 기록 : 5년
            li 소비자 불만 또는 분쟁처리에 관한 기록 : 3년
    .form-group.row.no-gutters.m-0.pt-3.pb-2.border-bottom
      label.col-10
        | 개인정보 제3자 제공동의
        small.ml-2.text-info (필수)
        small.ml-2(data-toggle='collapse', href='#agreement3')
          u 내용보기
      .col-2.text-right
        label.custom-control.custom-checkbox.custom-control-inline
          input.custom-control-input(type='checkbox')
          span.custom-control-label 동의
    #agreement3.collapse
      .card.bg-light.border-0
        .card-body
          p 개인정보 제 3자 제공동의
          p(style='white-space: pre-wrap').
            - 개인정보를 제공받는자 : 이용하고자 하는 숙박업소
            - 제 3자의 개인정보 이용목적 : 구매자 확인, 미성년 여부확인, 고객 상담 및 예약목적
            - 개인정보 제공 항목 : 이름, 연락처, 생년월일, 예약정보
    .form-group.row.no-gutters.m-0.pt-3.pb-2.border-bottom
      label.col-10
        | 미성년자 아님 동의
        small.ml-2.text-info (필수)
      .col-2.text-right
        label.custom-control.custom-checkbox.custom-control-inline
          input.custom-control-input(type='checkbox')
          span.custom-control-label 동의
    .py-5

    //- 결재 수단 선택: 신용카드/체크카드
    .purchase-box
      .form-group.row.no-gutters.px-4.pt-4.pb-3.mb-0
        label.col-2 결제 수단 선택
        .col-10
          label.custom-control.custom-radio.custom-control-inline.mr-4
            input.custom-control-input(type='radio', name='radio1', checked)
            span.custom-control-label 신용카드/체크카드
          label.custom-control.custom-radio.custom-control-inline
            input.custom-control-input(type='radio', name='radio1')
            span.custom-control-label 무통장입금
      table.table.text-center
        thead
          tr
            th 객실
            th
            th 추가인원
            th
            th 부가서비스
            th
            th(style='width: 13rem')
            th.text-right(style='width: 13rem') 최종 이용금액
        tbody
          tr
            td(rowspan='3') 240,000
            td(rowspan='3')
              img(src='/assets/images/plus.svg')
            td(rowspan='3') 10,000
            td(rowspan='3')
              img(src='/assets/images/plus.svg')
            td(rowspan='3') 0
            td(rowspan='3')
              img(src='/assets/images/equal.svg')
            td.text-left
              .text-muted 총 금액
            td.text-right
              | 250,000
          tr
            td.text-left
              .text-muted 현장결제(추가인원)
            td.text-right
              .text-red| 10,000
          tr
            td.text-left
              .text-muted 즉시결제(객실)
            td.text-right
              h5.text-blue 2400,000
      .px-2.py-4
        .row
          .col-md-3.offset-md-3
            .mb-2
              input.form-control(type='text', placeholder='카드번호')
            .mb-2
              input.form-control(type='text', placeholder='유효기간 (MM/YY)')
            .mb-2
              input.form-control(type='text', placeholder='CVC')
            .mb-2
              select.custom-select
                option 일시불
                option 2개월 할부
                option 3개월 할부
                option 4개월 할부
                option 5개월 할부
                option 6개월 할부
                option 7개월 할부
                option 8개월 할부
                option 9개월 할부
                option 10개월 할부
                option 11개월 할부
                option 12개월 할부
          .col-md-4
            img.img-fluid.w-100(src='/assets/images/temp-card-plugin.png')

    //- 결재 수단 선택: 무통장입금
    .purchase-box
      .form-group.row.no-gutters.px-4.pt-4.pb-3.mb-0
        label.col-2 결제 수단 선택
        .col-10
          label.custom-control.custom-radio.custom-control-inline.mr-4
            input.custom-control-input(type='radio', name='radio2')
            span.custom-control-label 신용카드/체크카드
          label.custom-control.custom-radio.custom-control-inline
            input.custom-control-input(type='radio', name='radio2', checked)
            span.custom-control-label 무통장입금
      table.table.text-center
        thead
          tr
            th 객실
            th
            th 추가인원
            th
            th 부가서비스
            th
            th(style='width: 13rem')
            th.text-right(style='width: 13rem') 최종 이용금액
        tbody
          tr
            td(rowspan='3') 240,000
            td(rowspan='3')
              img(src='/assets/images/plus.svg')
            td(rowspan='3') 10,000
            td(rowspan='3')
              img(src='/assets/images/plus.svg')
            td(rowspan='3') 0
            td(rowspan='3')
              img(src='/assets/images/equal.svg')
            td.text-left
              .text-muted 총 금액
            td.text-right
              | 250,000
          tr
            td.text-left
              .text-muted 현장결제(추가인원)
            td.text-right
              .text-red| 10,000
          tr
            td.text-left
              .text-muted 즉시결제(객실)
            td.text-right
              h5.text-blue 2400,000
      .px-2.py-4
        .row
          .col-md-5.offset-md-3
            .mb-4
              input.form-control.w-50(type='text', placeholder='입금자명')
            | 436902-04-039112, 국민은행, 조영수
            p
              | - 입금기한 :
              span.text-red.ml-1 예약 후 1시간 이내 (2018년 1월 31일 오후 6시 45분)
              br
              | - 무통장입금(가상계좌)는 입금 확인 후 예약이 완료됩니다.
              br
              | - 입금기한 내 입금 확인이 되지 않으면, 예약은 자동으로 취소됩니다.


    .text-center.pt-5
      a.btn.btn-dark.btn-lg(href='#') 결제하기



    include ./includes/footer.pug