include ./includes/header.pug

body
  include ./includes/topper.pug

  .pc-body
    .calendar-controler
      .form-inline.justify-content-center
        .year-month 2018년 1월
        .btn-group.mx-3
          button.btn.btn-white.border-right-0(type='button')
            i.fa.fa-angle-left.fa-lg.text-dark
          button.btn.btn-white.border-left-0(type='button')
            i.fa.fa-angle-right.fa-lg.text-dark
    .row.mt-5
      .col-md-6
        table.table-bordered.table-calendar-small.w-100.align-middle.text-center
          tbody
            tr
              td.text-red 일
              td 월
              td 화
              td 수
              td 목
              td 금
              td.text-blue 토
            tr
              td.text-red.dimed 12/31
              td.text-red 1
              td 2
              td 3
              td 4
              td 5
              td.text-blue 6
            tr
              td.text-red 7
              td 8
              td 9
              td 10
              td 11
              td 12
              td.text-blue 13
            tr
              td.text-red 14
              td 15
              td 16
              td 17
              td 18
              td 19
              td.text-blue 20
            tr
              td.text-red 21
              td 22
              td 23
              td 24
              td 25
              td 26
              td.text-blue 27
            tr
              td.text-red 28
              td.active 29
              td 30
              td 31
              td.dimed 2/1
              td.dimed 2
              td.text-blue.dimed 3

      .col-md-6.mt-4.mt-md-0
        h3.text-blue 선택일 2018.01.29(금)
        p.mt-4(style='white-space: pre-wrap').
          [추가요금]
          - 기준인원에서 1인 추가시 1만원의 추가요금 발생
          [가격정보]
          - 여름성수기:07-17~08-15까지
          - 주말요금:금,토요일, 공휴일 전날
          [예약안내]
          - 펜션연락처는 예약과 동시에 고객님의 휴대폰으로 자동발송됩니다.
          - 예약 전 취소수수료를 꼭 확인바랍니다.

    .py-5
    h4 객실선택
    table.table.table-room-select.align-middle.text-center.mt-3
      tbody
        tr
          td
            label.custom-control.custom-checkbox.ml-4
              input.custom-control-input(type='checkbox')
              span.custom-control-label
          td(style='width: 11rem')
            .thumbnail(style="background-image: url('/assets/images/sample/2B-01.jpg')", data-toggle='modal', data-target='#viewPictureModal-pc')
          td.room-info
            .room-title 사랑채 하늘방(패밀리스파)
            .size.text-muted 16평
            .capacity.small 기준 2명/최대 4명
            p.small 동해물과 백두산이 마르고 닳도록 펜션 소개글 자리
          td
            .mb-2 객실수
            select.custom-select.inline
              option 1개
              option 2개
              option 3개
              option 4개
          td
            .unit-wrapper
              .room-id 방1
              .value
                .mb-2 기간
                select.custom-select.inline
                  option 1박
                  option 2박
                  option 3박
                  option 4박
                  option 5박
                  option 6박
                  option 7박
                  option 8박
                  option 9박
                  option 10박
              .value
                .mb-2 성인
                input.form-control(type='number', min='0', max='6', value='6')
              .value
                .mb-2 아동
                input.form-control(type='number', min='0', max='6', value='1')
              .value
                .mb-2 유아
                input.form-control(type='number', min='0', max='6', value='0')
              .price
                .small
                  del.text-muted 68,000원
                  span.text-red.ml-1 25%
                | 55,000원
                .small.text-muted 추가인원 +10,000
            .unit-wrapper.added
              .room-id 방1
              .value
                select.custom-select.inline
                  option 1박
                  option 2박
                  option 3박
                  option 4박
                  option 5박
                  option 6박
                  option 7박
                  option 8박
                  option 9박
                  option 10박
              .value
                input.form-control(type='number', min='0', max='6', value='2')
              .value
                input.form-control(type='number', min='0', max='6', value='0')
              .value
                input.form-control(type='number', min='0', max='6', value='0')
              .price
                .small
                | 14,000원
            .unit-wrapper.added
              .room-id 방1
              .value
                select.custom-select.inline
                  option 1박
                  option 2박
                  option 3박
                  option 4박
                  option 5박
                  option 6박
                  option 7박
                  option 8박
                  option 9박
                  option 10박
              .value
                input.form-control(type='number', min='0', max='6', value='2')
              .value
                input.form-control(type='number', min='0', max='6', value='0')
              .value
                input.form-control(type='number', min='0', max='6', value='1')
              .price
                | 22,000원
                .small.text-muted 추가인원 +10,000
        tr
          td
            label.custom-control.custom-checkbox.ml-4
              input.custom-control-input(type='checkbox')
              span.custom-control-label
          td(style='width: 11rem')
            .thumbnail(style="background-image: url('/assets/images/sample/2A-01.jpg')", data-toggle='modal', data-target='#viewPictureModal-pc')
          td.room-info
            .room-title 두번째방
            .size.text-muted 16평
            .capacity.small 기준 2명/최대 4명
          td
            .mb-2 객실수
            select.custom-select.inline
              option 1개
              option 2개
              option 3개
              option 4개
          td
            .unit-wrapper
              .room-id 방1
              .value
                .mb-2 기간
                select.custom-select.inline
                  option 1박
                  option 2박
                  option 3박
                  option 4박
                  option 5박
                  option 6박
                  option 7박
                  option 8박
                  option 9박
                  option 10박
              .value
                .mb-2 성인
                input.form-control(type='number', min='0', max='6', value='6')
              .value
                .mb-2 아동
                input.form-control(type='number', min='0', max='6', value='1')
              .value
                .mb-2 유아
                input.form-control(type='number', min='0', max='6', value='0')
              .price
                .small
                  del.text-muted 68,000원
                  span.text-red.ml-1 25%
                | 55,000원
                .small.text-muted 추가인원 +10,000
        tr
          td
          td(style='width: 11rem')
            .thumbnail(style="background-image: url('/assets/images/noimage.png')", data-toggle='modal', data-target='#viewPictureModal-pc')
          td.room-info
            .room-title 세번째방
            .size.text-muted 16평
            .capacity.small 기준 2명/최대 4명
          td
          td
            .unit-wrapper.justify-content-end
              .price
                button.btn.btn-secondary(type='button', style='width: 7rem', disabled) 만실
        tr
          td
          td(style='width: 11rem')
            .thumbnail(style="background-image: url('/assets/images/sample/3A-01.jpg')", data-toggle='modal', data-target='#viewPictureModal-pc')
          td.room-info
            .room-title 네번째방
            .size.text-muted 16평
            .capacity.small 기준 2명/최대 4명
          td
          td
            .unit-wrapper.justify-content-end
              .price
                button.btn.btn-warning.btn-callonly.px-4(type='button', style='width: 7rem') 전화문의
                .small.mt-2
                  del.text-muted 68,000원
                  span.text-red.ml-1 25%
                | 55,000원
                .call-info2
                  h6 전화문의
                  | 032-1111-2871

    .text-center.pt-4
      a.btn.btn-dark.btn-lg(href='/bp-book') 예약하기

    include ./includes/footer.pug


//- 객실사진 모달
#viewPictureModal-pc.modal(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        a.close(data-dismiss='modal')
          img(src='/assets/images/close-white.svg')
      .modal-body.d-flex
        #roomPicture1.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#roomPicture1', data-slide-to='0')
            li(data-target='#roomPicture1', data-slide-to='1')
            li(data-target='#roomPicture1', data-slide-to='2')
            li(data-target='#roomPicture1', data-slide-to='3')
            li(data-target='#roomPicture1', data-slide-to='4')
            li(data-target='#roomPicture1', data-slide-to='5')
            li(data-target='#roomPicture1', data-slide-to='6')
            li(data-target='#roomPicture1', data-slide-to='7')
            li(data-target='#roomPicture1', data-slide-to='8')
          .carousel-inner
            .carousel-item.active(style="background-image: url('/assets/images/sample/2A-01.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-02.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-03.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-04.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-05.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-06.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-07.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-08.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-09.jpg')")
          a.carousel-control-prev(href='#roomPicture1', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
          a.carousel-control-next(href='#roomPicture1', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
        .detail
          .room-name 온돌
          .text-muted.mb-2 16평형
          p
            | 기준 2명/최대 4명
            br
            | 냉장고, 다리미, 드라이기, 쇼파, 스파/월풀, 에어컨, 욕실용품, 전기밥솥, 커피포트, TV
