include ./includes/header.pug

body
  include ./includes/topper.pug

  .pc-body
    .calendar-controler
      .form-inline.justify-content-center
        .year-month 2018년 1월
        .btn-group.mx-3
          button.btn.btn-white.border-right-0(type='button')
            i.fa.fa-angle-left.fa-lg.text-dark
          button.btn.btn-white.border-left-0(type='button')
            i.fa.fa-angle-right.fa-lg.text-dark
    .row.mt-5
      .col-md-6
        table.table-bordered.table-calendar-small.w-100.align-middle.text-center
          tbody
            tr
              td.text-red 일
              td 월
              td 화
              td 수
              td 목
              td 금
              td.text-blue 토
            tr
              td.text-red.dimed 12/31
              td.text-red 1
              td 2
              td 3
              td 4
              td 5
              td.text-blue 6
            tr
              td.text-red 7
              td 8
              td 9
              td 10
              td 11
              td 12
              td.text-blue 13
            tr
              td.text-red 14
              td 15
              td 16
              td 17
              td 18
              td 19
              td.text-blue 20
            tr
              td.text-red 21
              td 22
              td 23
              td 24
              td 25
              td 26
              td.text-blue 27
            tr
              td.text-red 28
              td.active 29
              td 30
              td 31
              td.dimed 2/1
              td.dimed 2
              td.text-blue.dimed 3

      .col-md-6.mt-4.mt-md-0
        h3.text-blue
          | 선택일 2018.01.29(금)
          small.text-dark.ml-2 *3박 이상 예약가능
        #book-description
          button.btn.btn-white(type='button')
            | 펼치기
            img.ml-2(src='/assets/images/angle_down.svg')
          p.mt-4(style='white-space: pre-wrap').
            [ 입퇴실안내]
            ㅁ 입실시간 : 15시부터 / 퇴실시간 : 11시
            ㅁ 기준인원 초과시 24개월이상~ 미취학아동 1인 15,000원 / 초등학생이상~ 성인 1인 30,000원

            [바비큐이용안내]
            ㅁ 숯&그릴 2인 ~ 4인 30,000원 (숯&그릴 이용 시, 무제한 무료 바베큐 이용 가능 / 전용 바베큐장에서 이용 / 개별 테라스 바비큐 이용 불가)
            ▶ 짐과 비용을 덜어드리겠습니다.
            숯&그릴 이용 시, 무제한 무료 바비큐 가능
            (목살, 소시지, 잡곡밥, 야채, 김치, 된장찌개, 쌈장 제공 / 펜션 사정에 따라 메뉴는 변동될 수 있습니다.)

            [스위밍스파이용안내]
            ㅁ 라임, 스위트객실은 객실에서 한층 내려와서 이용하실 수 있고
            쟈스민, 로얄 객실은 문 옆에 위치해있습니다. 참고바랍니다.

            [픽업안내]
            안면도터미널에서 픽업가능합니다. (사전문의)
            픽업서비스는 입실시간 이후 3시부터 가능합니다.
            예약완료시 핸드폰으로 펜션관리자 연락처가 전송됩니다.
            픽업내용은 펜션 사정에따라 달라질 수 있으므로 자세한 내용 및 픽업신청은 펜션관리자와 상의하시면 됩니다.

            [제공서비스]
            4륜 오토바이, 행글라이더, 팜카밀레허브농원 할인이용권을 제공해드립니다.
            카페에서 커피 제공해드립니다.
            유사시에 필요한 상비약이 준비되어 있습니다.


            [유의사항]
            ㅁ 객실 및 기타시설물은 다른 사용자를 위해서 깨끗이 사용해 주시기 바랍니다
            ㅁ 객실 정리 후 퇴실점검을 받으셔야 합니다. 점검 후 객실 키를 반납해 주세요
            ㅁ 다른 이용 고객의 불편함이 없도록 무분별한 오락, 음주 및 고성방가를 자제하여 주시기 바랍니다
            ㅁ 쾌적하고 안락한 펜션 운영 방침에 따라 최대정원 이상의 입실은 금합니다
            ㅁ 이용 시 시설물 훼손, 분실에 대한 책임은 투숙객에게 있으므로 유의하시기 바랍니다
            ㅁ 음식찌꺼기 및 쓰레기는 깨끗한 환경을 위하여 꼭 분리수거 해주세요
            ㅁ 객실에서는 금연입니다
            ㅁ 애완동물은 위생상의 문제와 다른 팀을 위하여 금지하고 있으니 꼭 지켜주세요
            ㅁ 미성년자는 보호자의 동행 없이는 투숙이 불가합니다
            ㅁ 커플&가족 펜션인만큼 방문 고객님을 위해 단체 예약이 불가한 점 양해부탁드립니다.
            ㅁ 개별테라스는 오션뷰 감상을 위해 준비가 되어있으며, 바베큐 이용은 전용 바베큐장에서만 이용 가능합니다.(개별테라스에서는 바베큐이용 불가)
            ㅁ 모든 객실 취사 불가입니다. 취사를 하고 싶은 경우 안내실에서 요리가 가능합니다.

    .py-5
    h4 객실선택
    table.table.table-room-select.align-middle.text-center.mt-3
      tbody
        tr
          td
            label.custom-control.custom-checkbox.ml-4
              input.custom-control-input(type='checkbox')
              span.custom-control-label
          td(style='width: 11rem')
            .thumbnail(style="background-image: url('/assets/images/sample/2B-01.jpg')", data-toggle='modal', data-target='#viewPictureModal-pc')
          td.room-info
            .room-title 사랑채 하늘방(패밀리스파)
            .size.text-muted 16평
            .capacity.small 기준 2명/최대 4명
            .text-red.small 3박이상 가능
            p.small 동해물과 백두산이 마르고 닳도록 펜션 소개글 자리
          td
            .mb-2 객실수
            select.custom-select.inline
              option 1개
              option 2개
              option 3개
              option 4개
          td
            .unit-wrapper
              .room-id 방1
              .value
                .mb-2 기간
                select.custom-select.inline
                  option 1박
                  option 2박
                  option 3박
                  option 4박
                  option 5박
                  option 6박
                  option 7박
                  option 8박
                  option 9박
                  option 10박
              .value
                .mb-2 성인
                input.form-control(type='number', min='0', max='6', value='6')
              .value
                .mb-2 아동
                input.form-control(type='number', min='0', max='6', value='1')
              .value
                .mb-2 유아
                input.form-control(type='number', min='0', max='6', value='0')
              .price
                .small
                  del.text-muted 68,000원
                  span.text-red.ml-1 25%
                .text-blue 55,000원
                .small.text-muted 추가인원 +10,000
            .unit-wrapper.added
              .room-id 방1
              .value
                select.custom-select.inline
                  option 1박
                  option 2박
                  option 3박
                  option 4박
                  option 5박
                  option 6박
                  option 7박
                  option 8박
                  option 9박
                  option 10박
              .value
                input.form-control(type='number', min='0', max='6', value='2')
              .value
                input.form-control(type='number', min='0', max='6', value='0')
              .value
                input.form-control(type='number', min='0', max='6', value='0')
              .price
                .small
                .text-blue 14,000원
            .unit-wrapper.added
              .room-id 방1
              .value
                select.custom-select.inline
                  option 1박
                  option 2박
                  option 3박
                  option 4박
                  option 5박
                  option 6박
                  option 7박
                  option 8박
                  option 9박
                  option 10박
              .value
                input.form-control(type='number', min='0', max='6', value='2')
              .value
                input.form-control(type='number', min='0', max='6', value='0')
              .value
                input.form-control(type='number', min='0', max='6', value='1')
              .price
                .text-blue 22,000원
                .small.text-muted 추가인원 +10,000
        tr
          td
            label.custom-control.custom-checkbox.ml-4
              input.custom-control-input(type='checkbox')
              span.custom-control-label
          td(style='width: 11rem')
            .thumbnail(style="background-image: url('/assets/images/sample/2A-01.jpg')", data-toggle='modal', data-target='#viewPictureModal-pc')
          td.room-info
            .room-title 두번째방
            .size.text-muted 16평
            .capacity.small 기준 2명/최대 4명
          td
            .mb-2 객실수
            select.custom-select.inline
              option 1개
              option 2개
              option 3개
              option 4개
          td
            .unit-wrapper
              .room-id 방1
              .value
                .mb-2 기간
                select.custom-select.inline
                  option 1박
                  option 2박
                  option 3박
                  option 4박
                  option 5박
                  option 6박
                  option 7박
                  option 8박
                  option 9박
                  option 10박
              .value
                .mb-2 성인
                input.form-control(type='number', min='0', max='6', value='6')
              .value
                .mb-2 아동
                input.form-control(type='number', min='0', max='6', value='1')
              .value
                .mb-2 유아
                input.form-control(type='number', min='0', max='6', value='0')
              .price
                .small
                  del.text-muted 68,000원
                  span.text-red.ml-1 25%
                .text-blue 55,000원
                .small.text-muted 추가인원 +10,000
        tr
          td
          td(style='width: 11rem')
            .thumbnail(style="background-image: url('/assets/images/noimage.png')", data-toggle='modal', data-target='#viewPictureModal-pc')
          td.room-info
            .room-title 세번째방
            .size.text-muted 16평
            .capacity.small 기준 2명/최대 4명
          td
          td
            .unit-wrapper.justify-content-end
              .price
                button.btn.btn-secondary(type='button', style='width: 7rem', disabled) 만실
        tr
          td
          td(style='width: 11rem')
            .thumbnail(style="background-image: url('/assets/images/sample/3A-01.jpg')", data-toggle='modal', data-target='#viewPictureModal-pc')
          td.room-info
            .room-title 네번째방
            .size.text-muted 16평
            .capacity.small 기준 2명/최대 4명
          td
          td
            .unit-wrapper.justify-content-end
              .price
                button.btn.btn-warning.btn-callonly.px-4(type='button', style='width: 7rem') 전화문의
                .small.mt-2
                  del.text-muted 68,000원
                  span.text-red.ml-1 25%
                .text-blue 55,000원
                .call-info2
                  h6 전화문의
                  | 032-1111-2871

    .text-center.pt-4
      a.btn.btn-dark.btn-lg(href='/bp-book') 예약하기

    include ./includes/footer.pug


//- 객실사진 모달
#viewPictureModal-pc.modal(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        a.close.ml-auto(data-dismiss='modal')
          img(src='/assets/images/close-white.svg')
      .modal-body.d-flex
        #roomPicture1.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#roomPicture1', data-slide-to='0')
            li(data-target='#roomPicture1', data-slide-to='1')
            li(data-target='#roomPicture1', data-slide-to='2')
            li(data-target='#roomPicture1', data-slide-to='3')
            li(data-target='#roomPicture1', data-slide-to='4')
            li(data-target='#roomPicture1', data-slide-to='5')
            li(data-target='#roomPicture1', data-slide-to='6')
            li(data-target='#roomPicture1', data-slide-to='7')
            li(data-target='#roomPicture1', data-slide-to='8')
          .carousel-inner
            .carousel-item.active(style="background-image: url('/assets/images/sample/2A-01.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-02.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-03.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-04.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-05.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-06.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-07.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-08.jpg')")
            .carousel-item(style="background-image: url('/assets/images/sample/2A-09.jpg')")
          a.carousel-control-prev(href='#roomPicture1', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
          a.carousel-control-next(href='#roomPicture1', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
        .detail
          .room-name 온돌
          .text-muted.mb-2 16평형
          p
            | 기준 2명/최대 4명
            br
            | 냉장고, 다리미, 드라이기, 쇼파, 스파/월풀, 에어컨, 욕실용품, 전기밥솥, 커피포트, TV
