include ./includes/header.pug

body
  include ./includes/topper.pug

  .container
    .py-4.mb-4
    h5.mb-3 예약목록
    table.table.table.table-bordered-list.text-center.align-middle
      thead.bg-light
        tr
          th 예약번호
          th 객실명
          th 입실일
          th 예약자명
          th 결제금액
          th 상태
          th 상세보기
      tbody
        tr
          td FJ!2344235
          td 라일락
          td 2018.05.30(수)
          td
            | 이용훈
            br
            | 010-3817-4375
          td
            | 100,000원
            .small.text-muted 무통장입금
          td
            .text-blue 입금대기
          td
            a.btn.btn-white.btn-small(href='/bp-find-result-detail') 상세보기
        tr
          td FJ!2344235
          td 라일락
          td 2018.05.30(수)
          td
            | 이용훈
            br
            | 010-3817-4375
          td
            | 100,000원
            .small.text-muted 무통장입금
          td 예약완료
          td
            a.btn.btn-white.btn-small(href='/bp-find-result-detail') 상세보기
        tr
          td FJ!2344235
          td 라일락
          td 2018.05.30(수)
          td
            | 이용훈
            br
            | 010-3817-4375
          td
            | 100,000원
            .small.text-muted 무통장입금
          td
            .text-red 예약취소
          td
            a.btn.btn-white.btn-small(href='/bp-find-result-detail') 상세보기
