include ./includes/header.pug

body
  include ./includes/topper.pug

  .responsive-body
    .py-5
    h4 예약자 정보
    hr.dark.mb-4
    .form-group.row
      label.col-4.col-lg-2 객실명
      .col-8.col-lg-10 사랑방 하늘채(복층스파)
    .form-group.row
      label.col-4.col-lg-2 예약내역
      .col-8.col-lg-10
        | 이용일자: 2018년 2월 8일(1박)
        br
        | 이용인원: 성인 6명
        br
        | 요청사항:
        br
        | 도착예정:
    .form-group.row
      label.col-4.col-lg-2 결제방법
      .col-8.col-lg-10 무통장입금
    .form-group.row
      label.col-4.col-lg-2 펜션 연락처
      .col-8.col-lg-10 010-2222-5555
    .text-center.pt-4
      a.btn.btn-dark.btn-lg(href='/bp-calendar') 확인