include ./includes/header.pug

body
  include ./includes/topper.pug

  .container
    .find-ui
      .mb-3
        label.custom-control.custom-radio.custom-control-inline.mr-4
          input.custom-control-input(type='radio', name='radio1', checked)
          span.custom-control-label 예약정보로 확인
        label.custom-control.custom-radio.custom-control-inline
          input.custom-control-input(type='radio', name='radio1')
          span.custom-control-label 예약번호로 확인
      .mb-3
        .form-group.row.mb-2.no-gutters
          label.col-sm-3.pt-1 예약자명
          .col-sm-9
            input.form-control(type='text')
        .form-group.row.mb-2.no-gutters
          label.col-sm-3.pt-1 연락처
          .col-sm-9
            input.form-control(type='text', placeholder='‘-‘없이 입력해주세요')
      .text-center.pt-4
        a.btn.btn-dark.btn-lg(href='/bp-find-result') 조회하기
