include ./includes/header.pug

body
  include ./includes/topper.pug

  #bp-pc-body
    h4.mt-4
      | 질문하기
      small.text-muted.ml-2 질문내용을 입력해 주세요.
    .form-container.mt-5
      .form-group.row
        label.col-sm-3.pt-1.text-sm-right 이메일 주소
        .col-sm-9
          input.form-control(type='text')
      .form-group.row
        label.col-sm-3.pt-1.text-sm-right 이름
        .col-sm-9
          input.form-control(type='text')
      .form-group.row
        label.col-sm-3.pt-1.text-sm-right 제목
        .col-sm-9
          input.form-control(type='text')
      .form-group.row
        label.col-sm-3.pt-1.text-sm-right 내용
        .col-sm-9
          textarea.form-control(rows='10')
      .form-group.row
        .col-sm-9.offset-sm-3
          img(src='/assets/images/temp-capcha.png')
          button.btn.btn-secondary.btn-lg.btn-block.mt-4(type='button') 이메일 보내기


    include ./includes/footer.pug