include ./includes/header.pug

body

  include ./includes/topper.pug

  #bp-pc-body
    h4.mt-4
      | 예약하기
      small.text-muted.ml-2 예약 정보를 입력해 주세요.
    hr
    .row.mt-4
      .col-md-4.left-side.mb-4
        .bg-light.p-4(style='white-space: pre-wrap').
          [추가요금]
          - 기준인원에서 1인 추가시 1만원의 추가요금 발생

          [가격정보]
          - [여름성수기:07-17~08-15까지]
          - [주말요금] 금,토요일, 공휴일 전날

          [예약안내]
          - 펜션연락처는 예약과 동시에 고객님의 휴대폰으로 자동발송됩니다.
          - 예약 전 취소수수료를 꼭 확인바랍니다.
      .col-md-8
        h6 상품정보
        .form-group.row
          label.col-2 선택상품
          .col-10
            | 풀스파 스위트룸 (성인 2, 아동 2)
        .form-group.row.mb-0
          label.col-2 투숙일
          .col-10
            | 금요일, 4월 7일 (1박)
        hr
        h6 부가서비스
        .form-group.row
          label.col-4 조식
          .col-4
            | 15,000원
          .col-4
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 사용
        .form-group.row.mb-0
          label.col-4.pt-1 부가서비스2
          .col-4.pt-1
            | 10,000원
          .col-4
            .form-inline
              input.form-control(type='number', value='0', min='0', max='99', style='width: 5rem')
              span.ml-2 개
        hr
        h6 이용요금
        .form-group.row
          label.col-8 객실 이용금액(온라인결제)
          .col-4.text-right
            | 180,000
        .form-group.row
          label.col-8 인원 추가금액(현장결제)
          .col-4.text-right
            | 0
        .form-group.row
          label.col-8 부가서비스 이용금액(현장결제)
          .col-4.text-right
            | + 15,000
        .form-group.row
          label.col-8 총금액
          .col-4.text-right
            strong = 195,000
        hr
        .form-group.row
          label.col-8 온라인결제액
          .col-4.text-right
            strong.text-red 180,000 원
        .form-group.row
          label.col-8 현장결제액
          .col-4.text-right
            strong 15,000 원

        hr
        h6 예약자 정보입력
        .form-group.row
          label.col-4.pt-1
            | 예약자 이름
            span.text-red.ml-1 *
          .col-8
            input.form-control(type='text')
        .form-group.row
          label.col-4.pt-1
            | 휴대폰 번호
            span.text-red.ml-1 *
          .col-8
            input.form-control(type='text', placeholder='- 없이 입력해 주세요')
        .form-group.row
          label.col-4.pt-1
            | 도착예정시간
          .col-8
            select.custom-select
              option(selected) 선택해주새요
              option 12:00
              option 12:30
              option 13:00
              option 13:30
              option 14:00
              option 14:30
              option 15:00
              option 15:30
              option 16:00
              option 16:30
              option 17:00
              option 17:30
              option 18:00
              option 18:30
              option 19:00
              option 19:30
              option 20:00
              option 20:30
              option 21:00
              option 21:30
              option 22:00
              option 22:30
              option 23:00
              option 23:30
              option 24:00
        .form-group.row
          label.col-4.pt-1
            | 요청사항
          .col-8
            textarea.form-control(rows='4')

        hr
        h6 약관동의
        .form-group.row.no-gutters
          label.col-10
            | 야래 사항을 모두 동의하십니까?
          .col-2
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label.font-weight-bold 모두동의
        .form-group.row.no-gutters
          label.col-10
            | 유의사항/환불규정 (필수)
            small.ml-2(data-toggle='collapse', href='#agreement1')
              | 내용보기
              i.fa.fa-angle-down.ml-1
          .col-2
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 동의
        #agreement1.collapse
          .card.agreement-box
            .card-body
              p 유의사항/ 환불규정
              p(style='white-space: pre-wrap').
                - 보호자 없는 미성년자는 예약 및 입실이 불가합니다.
                - 예약시 신청하신 인원 외에 추가인원은 입실이 거부 될수 있습니다.
                - 인원 추가시 최대인원은 초과 할 수 없습니다. 최대인원 초과로 입실 거부시 환불은 되지 않습니다.
                - 무통장 입금시 예약자 성함으로 입금하여야 합니다. (입금 확인이 되지 않을 수도 있습니다.)
                - 취소/변경시 아래와 같이 취소수수료가 발생할수 있으므로 신중한 예약바랍니다.
              table.table.text-center
                thead.bg-light
                  tr
                    th 취소일기준
                    th 취소수수료
                tbody
                  tr
                    td 이용 10일 전
                    td 0%
                  tr
                    td 이용 9일 전
                    td 10%
                  tr
                    td 이용 8일 전
                    td 20%
                  tr
                    td 이용 7일 전
                    td 30%
                  tr
                    td 이용 6일 전
                    td 40%
                  tr
                    td 이용 5일 전
                    td 50%
                  tr
                    td 이용 4일 전
                    td 60%
                  tr
                    td 이용 3일 전
                    td 70%
                  tr
                    td 이용 2일 전
                    td 20%
                  tr
                    td 이용 전날
                    td.text-red 90%
                  tr
                    td 이용 당일
                    td.text-red 100%
              p
                | - 환불은 결제한 금액에서 취소수수료를 제한 금액으로 환불됩니다. (카드결제시에는 부분취소됩니다.)
        .form-group.row.no-gutters
          label.col-10
            | 개인정보 수집 및 이용동의(필수)
            small.ml-2(data-toggle='collapse', href='#agreement2')
              | 내용보기
              i.fa.fa-angle-down.ml-1
          .col-2
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 동의
        #agreement2.collapse
          .card.agreement-box
            .card-body
              p 개인정보 수집 및 이용동의
              p(style='white-space: pre-wrap').
                - 개인정보 이용목적 : 예약관련안내, 결제/취소내역 안내, 민원처리
                - 수집하는 개인정보항목 : 이름, 연락처, 생년월일, 예약 및 결제정보, 신용카드정보, 은행명, 입금자명, 접속 IP, 결제기록
                - 개인정보 보유 기간 : 개인정보 수집목적 달성 후 지체없이 파기 (단, 관계법령의 규정에 의해 보존할 필요가 있을 경우 관계법령에서 정한 기간 동안 보관
              ol.pl-3
                li 보존항목 : 접속로그, 결제기록
                li 보존근거 : 전자상거래 등에서의 소비자 보호에 관한 법률
                li 계약 또는 청약 철회 등에 관한 기록 : 5년
                li 대금결제 및 재화등의 공급에 관한 기록 : 5년
                li 소비자 불만 또는 분쟁처리에 관한 기록 : 3년
        .form-group.row.no-gutters
          label.col-10
            | 개인정보 제3자 제공동의(필수)
            small.ml-2(data-toggle='collapse', href='#agreement3')
              | 내용보기
              i.fa.fa-angle-down.ml-1
          .col-2
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 동의
        #agreement3.collapse
          .card.agreement-box
            .card-body
              p 개인정보 제 3자 제공동의
              p(style='white-space: pre-wrap').
                - 개인정보를 제공받는자 : 이용하고자 하는 숙박업소
                - 제 3자의 개인정보 이용목적 : 구매자 확인, 미성년 여부확인, 고객 상담 및 예약목적
                - 개인정보 제공 항목 : 이름, 연락처, 생년월일, 예약정보
        .form-group.row.no-gutters
          label.col-10
            | 미성년자 아님 동의(필수)
          .col-2
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 동의

        hr
        h6 온라인 결제금액
        h3.mb-4 180,000 원
        label.custom-control.custom-radio.custom-control-inline.mr-4
          input.custom-control-input(type='radio', name='statusRadio')
          span.custom-control-label 신용카드/체크카드
        label.custom-control.custom-radio.custom-control-inline
          input.custom-control-input(type='radio', name='statusRadio', checked)
          span.custom-control-label 무통장입금
        .w-50
          //- 신용카드/체크카드
          .py-2
            input.form-control(type='text', placeholder='카드번호 입력')
          .py-2
            input.form-control(type='text', placeholder='이름')
          .py-2
            input.form-control(type='text', placeholder='유효기간 MM/YY')
          .py-2
            input.form-control(type='text', placeholder='카드뒷면 CVC 번호')
          .py-2
            select.custom-select
              option(selected) 일시불
              option 2개월 할부
              option 3개월 할부
              option 4개월 할부
              option 5개월 할부
              option 6개월 할부
              option 7개월 할부
              option 8개월 할부
              option 9개월 할부
              option 10개월 할부
              option 11개월 할부
              option 12개월 할부
          //- 무통장입금
          //- .py-2
          //-   input.form-control(type='text', placeholder='입금자명')
          //- p
          //-   h6 436902-04-039112, 국민은행, 조영수
          //-   | - 입금기한: 예약 후 1시간 이내 (2018년 3월 7일 오후 1시 48분)
          //-   br
          //-   | - 무통장입금(가상계좌)는 입금 확인 후 예약이 완료됩니다.
          //-   br
          //-   | - 입금기한 내 입금 확인이 되지 않으면, 예약은 자동으로 취소됩니다.
        .mt-4
          button.btn.btn-primary.btn-lg.btn-block(type='button') 결제하기


    include ./includes/footer.pug
