.mobile-body.mobile-container
  .board
    h6.mb-4 예약목록

    .mb-5
      .room-title
        .name 라일락
      .group-wrapper.mb-4
        .group-label 예약번호
        .group-content
          .value-coloumn FJ!2344235
      .group-wrapper.mb-4
        .group-label 입실일
        .group-content
          .value-coloumn 2018.05.30(수)
      .group-wrapper.mb-4
        .group-label 예약자명
        .group-content
          .value-coloumn 이용훈 010-3817-4375
      .group-wrapper.mb-4
        .group-label 결제금액
        .group-content
          .value-coloumn
            | 2018.05.30(수)
            .small.text-muted.mt-1 무통장입금
      .group-wrapper.mb-4
        .group-label 예약상태
        .group-content
          .value-coloumn
            .text-blue 입금대기
      a.btn.btn-white.btn-small.btn-block(href='/bp-find-result-detail') 상세보기

    .mb-5
      .room-title
        .name 프리지아
      .group-wrapper.mb-4
        .group-label 예약번호
        .group-content
          .value-coloumn FJ!2344235
      .group-wrapper.mb-4
        .group-label 입실일
        .group-content
          .value-coloumn 2018.05.30(수)
      .group-wrapper.mb-4
        .group-label 예약자명
        .group-content
          .value-coloumn 이용훈 010-3817-4375
      .group-wrapper.mb-4
        .group-label 결제금액
        .group-content
          .value-coloumn
            | 2018.05.30(수)
            .small.text-muted.mt-1 카드결제
      .group-wrapper.mb-4
        .group-label 예약상태
        .group-content
          .value-coloumn
            | 예약완료
      a.btn.btn-white.btn-small.btn-block(href='/bp-find-result-detail') 상세보기

    .mb-5
      .room-title
        .name 로즈
      .group-wrapper.mb-4
        .group-label 예약번호
        .group-content
          .value-coloumn FJ!2344235
      .group-wrapper.mb-4
        .group-label 입실일
        .group-content
          .value-coloumn 2018.05.30(수)
      .group-wrapper.mb-4
        .group-label 예약자명
        .group-content
          .value-coloumn 이용훈 010-3817-4375
      .group-wrapper.mb-4
        .group-label 결제금액
        .group-content
          .value-coloumn
            | 2018.05.30(수)
            .small.text-muted.mt-1 카드결제
      .group-wrapper.mb-4
        .group-label 예약상태
        .group-content
          .value-coloumn
            .text-red 예약취소
      a.btn.btn-white.btn-small.btn-block(href='/bp-find-result-detail') 상세보기

