.mobile-body.mobile-container
  .board
    h6.mb-4 예약정보
    .room-title
      .name 라일락
    .group-wrapper.mb-4
      .group-label 예약번호
      .group-content
        .value-coloumn FJ!2344235
    .group-wrapper.mb-4
      .group-label 예약일시
      .group-content
        .value-coloumn 2018-04-25 12:07
    .group-wrapper.mb-4
      .group-label 예약자명
      .group-content
        .value-coloumn 이용훈 010-3817-4375
    .group-wrapper.mb-4
      .group-label 도착예정시간
      .group-content
        .value-coloumn 15:30
    .group-wrapper.mb-2
      .group-label 고객요청사항
    p 아이에게 좋은 추억 남겨주고 싶습니다. 깨끗한 방 준비해 주시고, 숯불바베큐는 20시까지 준비해주세요~

  .board
    h6.mb-4 상품정보
    .group-wrapper.mb-4
      .group-label 객실명
      .group-content
        .value-coloumn 라일락
    .group-wrapper.mb-4
      .group-label 이용일
      .group-content
        .value-coloumn 2018-05-24(2박)
    .group-wrapper.mb-4
      .group-label 인원
        small.text-muted.ml-1 (기준 2명/최대 4명)
      .group-content
        .wrapper
          small.text-muted 성인
          .value-coloumn 2명
        .wrapper
          small.text-muted 아동
          .value-coloumn 1명
    .group-wrapper
      .group-label 금액
      .group-content
        .wrapper
          small.text-muted 객실
          .value-coloumn 100,000
        .wrapper
          small.text-muted 현장결제(추가인원)
          .value-coloumn 20,000
    hr
    .group-wrapper.mb-4
      .group-label 객실명
      .group-content
        .value-coloumn 해바라기
    .group-wrapper.mb-4
      .group-label 이용일
      .group-content
        .value-coloumn 2018-05-24(2박)
    .group-wrapper.mb-4
      .group-label 인원
        small.text-muted.ml-1 (기준 2명/최대 4명)
      .group-content
        .wrapper
          small.text-muted 성인
          .value-coloumn 2명
    .group-wrapper
      .group-label 금액
      .group-content
        .wrapper
          small.text-muted 객실
          .value-coloumn 100,000
        .wrapper
          small.text-muted 현장결제(추가인원)
          .value-coloumn 20,000

  .board
    h6.mb-4 부가서비스
    .group-wrapper.mb-4
      .group-label 숯,그릴대여
      .group-content
        .wrapper
          small.text-muted 수량
          .value-coloumn 3개
        .wrapper
          small.text-muted 현장결제
          .value-coloumn 15,000
    .group-wrapper.mb-4
      .group-label 미온수
      .group-content
        .wrapper
          small.text-muted 수량
          .value-coloumn 1개
        .wrapper
          small.text-muted 현장결제
          .value-coloumn 5,000

  .board
    h6.mb-4 결제정보
    .group-wrapper
      .group-content
        .wrapper
          small.text-muted 총 금액
          .value-coloumn
            h5.mb-0 137,000
        .wrapper
          small.text-muted 현장결제
          .value-coloumn
            .text-green 10,000
        .wrapper
          small.text-muted 즉시결제
          .value-coloumn
            .text-blue 127,000

  a.mobile-footbutton.btn.btn-dark.btn-block(href='/bp-find-result') 예약목록