.pc-body
  .calendar-controler
    .form-inline.justify-content-center
      .year-month 2018년 1월
      .btn-group.mx-3
        button.btn.btn-white.border-right-0(type='button')
          i.fa.fa-angle-left.fa-lg.text-dark
        button.btn.btn-white.border-left-0(type='button')
          i.fa.fa-angle-right.fa-lg.text-dark
  .row
    .col-md-3
      button.btn.btn-white(type='button') 요금보기
    .col-md-9
      .status-model.d-flex.justify-content-end.mt-3
        .status-badge.available
        | 예약가능
        .status-badge.complete
        | 예약완료
        .status-badge.callonly
        | 전화문의

  .mt-3
    table.table-bordered.table-calendar
      thead
        tr
          th.text-red 일
          th 월
          th 화
          th 수
          th 목
          th 금
          th.text-blue 토
      tbody
        tr
          td.dimed.other-month
            .day-header
              .date.text-red 12/31
              .season 공휴일 전날
          td
            .day-header
              .date.text-red 1
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .price
                del.small.text-muted.d-block 68,000원
                | 55,000원
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .price 90,000원
            .room
              .status-badge.complete
              .name.dimed S(복층스파)
          td
            .day-header
              .date 2
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 3
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 4
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 5
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date.text-blue 6
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
        tr
          td
            .day-header
              .date.text-red 7
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 8
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 9
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 10
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 11
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 12
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date.text-blue 13
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
        tr
          td
            .day-header
              .date.text-red 14
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 15
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 16
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 17
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name 룸타입 이름이 아주긴경우
              .stock 4개
            .room
              .status-badge.complete
              .name.dimed S(복층스파)
          td.today
            .day-header
              .date 18
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 19
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date.text-blue 20
              .season 비수기
            .room
              .status-badge.callonly
              .name A
              .stock 1개
              .call-info
                h6 전화문의
                | 032-1111-2871
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.callonly
              .name S(복층스파)
              .stock 2개
              .call-info
                h6 전화문의
                | 032-1111-2871
        tr
          td
            .day-header
              .date.text-red 21
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 22
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 23
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 24
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 25
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 26
              .season 비수기
            .room
              .status-badge.complete
              .name.dimed A
            .room
              .status-badge.complete
              .name.dimed A
            .room
              .status-badge.complete
              .name.dimed B(테라스)
            .room
              .status-badge.complete
              .name.dimed S(복층스파)
          td
            .day-header
              .date.text-blue 27
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.complete
              .name.dimed S(복층스파)
        tr
          td
            .day-header
              .date.text-red 28
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 29
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 30
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td
            .day-header
              .date 31
              .season 비수기
            .room
              .status-badge.available
              .name A
              .stock 1개
            .room
              .status-badge.available
              .name B(테라스)
              .stock 4개
            .room
              .status-badge.available
              .name S(복층스파)
              .stock 2개
          td.dimed.other-month
            .day-header
              .date 2/1
              .season 비수기
          td.dimed.other-month
            .day-header
              .date 2
              .season 비수기
          td.dimed.other-month
            .day-header
              .date.text-blue 3
              .season 비수기

  p.mt-5(style='white-space: pre-wrap').
    때묻지 않은 자연과 넉넉한 인정이 숨쉬는 곳! 마니산 절경이 병풍처럼 펼쳐지는 곳!
    일출과 낙조를 모두 볼수 있는 곳! 자연과 하나 되는 해달별 펜션에서 잊지못할 추억을 만들어보세요

    이용시 주의사항
    ◎ 입실시간: 오후 2시  이후, 퇴실시간: 익일 정오 12시 이전입니다.
    ◎ 최대인원을 초과하여 이용하실 수 없습니다. 현장에서 입실 거부될 수 있습니다.
    ◎ 다른 이용객을 위하여 애완동물의 동반입실은 불가합니다.
    ◎ 미성년자는 보호자 동반없이 이용하실 수 없습니다.
    ◎ 집기 파손 시 파손 물품에 대해서 실구입가 기준으로 변상을 해야 할 수 있으니 유의바랍니다.
    ◎ 펜션을 찾아가는 길은 비포장 도로이거나 네비게이션에 검색되지 않을 수 있으니 예약시 받았던 문자의 펜션연락처를 활용하시면 자세한 길안내 해드리겠습니다.


  include ./includes/footer.pug