.pc-body
  .py-4.mb-4
  h5.mb-3 예약정보
  table.table.table-dl
    tbody
      tr
        td.title 예약상태
        td
          .text-blue 입금대기
          //- | 입금완료
          //- .text-red 미입금 취소
          //- .text-red 예약 취소
      tr
        td.title 예약번호
        td FJ!2344235
      tr
        td.title 예약일시
        td 2018-04-25 12:07
      tr
        td.title 예약자명
        td 이용훈 010-3817-4375
      tr
        td.title 도착예정시간
        td 15:30
      tr
        td.title 고객요청사항
        td 아이에게 좋은 추억 남겨주고 싶습니다. 깨끗한 방 준비해주시고, 숯불바베큐는 20시까지 준비해주세요~

  .py-5

  h5.mb-3 상품정보
  table.table.table.table-bordered-list.text-center.align-middle
    thead.bg-light
      tr
        th 이용일
        th 객실명
        th 인원
        th 객실금액
        th 추가금액
    tbody
      tr
        td 2018-05-24~2018-05-26(2박)
        td 라일락
        td 성인 2명, 아동 2명
        td
          | 100,000원
          .small.text-muted 무통장입금
        td
          | 10,000원
          .small
            .text-muted 현장결제
            .text-muted 성인 1명, 아동 1명
      tr
        td 2018-05-24~2018-05-26(2박)
        td 해바라기
        td 성인 2명, 아동 2명
        td
          | 100,000원
          .small.text-muted 카드(6078)
        td
          | 10,000원
      tr
        td 2018-05-24~2018-05-26(2박)
        td 해바라기
        td 성인 2명, 아동 2명
        td
          | 100,000원
          .small.text-muted 카드(6078)
        td
          | 10,000원

  .py-5

  h5.mb-3 부가서비스
  table.table.table.table-bordered-list.text-center.align-middle
    thead.bg-light
      tr
        th 부가서비스
        th 결제방식
        th 수량
        th 금액
    tbody
      tr
        td 숯,그릴대여
        td 현장결제
        td 2개
        td
          | 50,000원
          .small.text-muted 현장결제
      tr
        td 미온수
        td 현장결제
        td 1개
        td
          | 50,000원
          .small.text-muted 현장결제

  .py-5

  //-- 입금대기
  .purchase-box
    h5.px-4.py-3 결제 정보
    table.table.text-center
      thead.bg-light
        tr
          th 상품구분
          th 상품명
          th 수량
          th 결제방법
          th(style='width: 15em') 요금
      tbody
        tr
          td(rowspan='2') 객실
          td.text-left 라일락
          td 1개
          td 즉시결제
          td.text-right
            .text-green 100,000원
        tr
          td.text-left 추가인원 성인 1명, 아동 1명
          td 2명
          td 즉시결제
          td.text-right
            .text-green 20,000원
        tr
          td(rowspan='2') 객실
          td.text-left 라벤더
          td 1개
          td 즉시결제
          td.text-right
            .text-green 100,000원
        tr
          td.text-left 추가인원 성인 1명, 아동 1명
          td 2명
          td 즉시결제
          td.text-right
            .text-green 20,000원
        tr
          td 부가서비스
          td.text-left 조식
          td 2개
          td 현장결제
          td.text-right
            .text-blue 50,000원
        tr
          td 부가서비스
          td.text-left 바베큐
          td 1개
          td 현장결제
          td.text-right
            .text-blue 50,000원
        tr.summary
          td
          td
          td
          td.text-right
            h5 총금액
          td.text-right
            h5 500,000원
        tr.summary
          td
          td
          td
          td.text-right
            | 현장결제(부가서비스)
          td.text-right
            .text-blue 150,000원
        tr.summary
          td
          td
          td
          td.text-right
            | 즉시결제(객실,추가인원)
          td.text-right
            .text-green 350,000원
    .px-2.py-3.text-center
      | 국민은행, 110-23244-234556, 이용훈
      br
      .text-red ( 2018년 오후 3시 32분 안으로 입금 하시지 않으면, 예약이 자동취소 됩니다.)
      br
      | ※ 자세한 문의는 010-3817-4375 로 연락 주세요.


  //-- 입금완료
  .purchase-box
    h5.px-4.py-3 결제 정보
    table.table.text-center
      thead.bg-light
        tr
          th 상품구분
          th 상품명
          th 수량
          th 결제방법
          th(style='width: 15em') 요금
      tbody
        tr
          td(rowspan='2') 객실
          td.text-left 라일락
          td 1개
          td 즉시결제
          td.text-right
            .text-green 100,000원
        tr
          td.text-left 추가인원 성인 1명, 아동 1명
          td 2명
          td 즉시결제
          td.text-right
            .text-green 20,000원
        tr
          td(rowspan='2') 객실
          td.text-left 라벤더
          td 1개
          td 즉시결제
          td.text-right
            .text-green 100,000원
        tr
          td.text-left 추가인원 성인 1명, 아동 1명
          td 2명
          td 즉시결제
          td.text-right
            .text-green 20,000원
        tr
          td 부가서비스
          td.text-left 조식
          td 2개
          td 현장결제
          td.text-right
            .text-blue 50,000원
        tr
          td 부가서비스
          td.text-left 바베큐
          td 1개
          td 현장결제
          td.text-right
            .text-blue 50,000원
        tr.summary
          td
          td
          td
          td.text-right
            h5 총금액
          td.text-right
            h5 500,000원
        tr.summary
          td
          td
          td
          td.text-right
            | 현장결제(부가서비스)
          td.text-right
            .text-blue 150,000원
        tr.summary
          td
          td
          td
          td.text-right
            | 즉시결제(객실,추가인원)
          td.text-right
            .text-green 350,000원

  //-- 미입금 취소
  .purchase-box.dimed
    h5.px-4.py-3 결제 정보
    table.table.text-center
      thead.bg-light
        tr
          th 상품구분
          th 상품명
          th 수량
          th 결제방법
          th(style='width: 15em') 요금
      tbody
        tr
          td(rowspan='2') 객실
          td.text-left 라일락
          td 1개
          td 즉시결제
          td.text-right
            .text-green 100,000원
        tr
          td.text-left 추가인원 성인 1명, 아동 1명
          td 2명
          td 즉시결제
          td.text-right
            .text-green 20,000원
        tr
          td(rowspan='2') 객실
          td.text-left 라벤더
          td 1개
          td 즉시결제
          td.text-right
            .text-green 100,000원
        tr
          td.text-left 추가인원 성인 1명, 아동 1명
          td 2명
          td 즉시결제
          td.text-right
            .text-green 20,000원
        tr
          td 부가서비스
          td.text-left 조식
          td 2개
          td 현장결제
          td.text-right
            .text-blue 50,000원
        tr
          td 부가서비스
          td.text-left 바베큐
          td 1개
          td 현장결제
          td.text-right
            .text-blue 50,000원
        tr.summary
          td
          td
          td
          td.text-right
            h5 총금액
          td.text-right
            h5 500,000원
        tr.summary
          td
          td
          td
          td.text-right
            | 현장결제(부가서비스)
          td.text-right
            .text-blue 150,000원
        tr.summary
          td
          td
          td
          td.text-right
            | 즉시결제(객실,추가인원)
          td.text-right
            .text-green 350,000원

  //-- 환불
  .purchase-box.dimed
    h5.px-4.py-3 결제 정보
    table.table.text-center
      thead.bg-light
        tr
          th 상품구분
          th 상품명
          th 수량
          th 결제방법
          th(style='width: 15em') 요금
      tbody
        tr
          td(rowspan='2') 객실
          td.text-left 라일락
          td 1개
          td 즉시결제
          td.text-right
            .text-green 100,000원
        tr
          td.text-left 추가인원 성인 1명, 아동 1명
          td 2명
          td 즉시결제
          td.text-right
            .text-green 20,000원
        tr
          td(rowspan='2') 객실
          td.text-left 라벤더
          td 1개
          td 즉시결제
          td.text-right
            .text-green 100,000원
        tr
          td.text-left 추가인원 성인 1명, 아동 1명
          td 2명
          td 즉시결제
          td.text-right
            .text-green 20,000원
        tr
          td 부가서비스
          td.text-left 조식
          td 2개
          td 현장결제
          td.text-right
            .text-blue 50,000원
        tr
          td 부가서비스
          td.text-left 바베큐
          td 1개
          td 현장결제
          td.text-right
            .text-blue 50,000원
        tr.summary
          td
          td
          td
          td.text-right
            h5 총금액
          td.text-right
            h5 500,000원
        tr.summary
          td
          td
          td
          td.text-right
            | 현장결제(부가서비스)
          td.text-right
            .text-blue 150,000원
        tr.summary
          td
          td
          td
          td.text-right
            | 즉시결제(객실,추가인원)
          td.text-right
            .text-green 350,000원
        tr.except-dimed.summary
          td
          td
          td
          td.text-left.text-right
            span.text-red 총 환불금액
            span.text-muted (3일전 취소 50% 환불)
          td.text-right
            h5.text-red 750,000

  .text-center.pt-5
    a.btn.btn-dark.btn-lg(href='/bp-find-result') 예약목록

  .py-5